@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


.nav__list {
    display: flex;
    gap: 32px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
}

.header__hamburger {
    display: flex;
    gap: 24px;
}

.header__hamburger__list {
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    gap: 6px;
    align-items: center;
}

.header__vector {
    width: 10px;
    height: 6px;
}

.header__hamburger__stream {
    display: flex;
    gap: 17px;
    align-items: center;
}

.container {
    margin: 0 auto;
    max-width: 1230px;
    width: 100%;
    position: relative;

}

.header__box {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    align-items: center;
    margin-top: 21px;
}


.header__line {
    height: 35px;
    opacity: 50%;
    border: 1px solid white;
    margin-right: 7px;
}

.survive {
    background-image: url(img/header-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.survive__box {
    padding-top: 313px;
}

.survive__box__title {
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-size: 80px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;

}

.survive__box__text {
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 28px;
}

.survive__box__button {
    display: flex;
    margin: 0 auto;
    background-color: #FFB548;
    border: 1px solid #FFB548;
    border-radius: 4px;
    padding: 18px 17px;
    color: #1A1917;
    text-transform: lowercase;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.survive__wrapper {
    padding-top: 363px;
    padding-bottom: 53px;
    text-align: center;


}

.survive__wrapper__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 22px;
    text-transform: uppercase;
    color: white;
}

.survive__wrapper__img {
    width: 20px;
    height: 8px;
}

.section__social {
    background-image: url(img/bg-image-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.section__social__big {
    display: flex;
    justify-content: space-between;
}

.section__social__wrapper {
    padding-top: 256px;
}

.social__wrapper__text {
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: white;
    letter-spacing: 2px;
}

.section__social__span {
    text-decoration: underline;
}

.social__wrapper__note {
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-size: 80px;
    color: white;
    letter-spacing: 3px;
    text-transform: uppercase;
    max-width: 410px;
}

.social__box__text {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: white;
    max-width: 364px;

}

.social__box__note {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: white;
    max-width: 364px;
    padding-top: 25px;
}

.section__social__box {
    padding-top: 72px;
    padding-left: 187px;
    padding-bottom: 268px;
}

.section__box__span {
    box-shadow: inset 0 -0.5em 0 orange;
}

.section__social__photo {
    max-width: 502px;
    height: 610px;
    width: 100%;
}

.section__social__icon {
    width: 54px;
    height: 33px;
}

.section__social__real {
    display: flex;
    gap: 39px;
    align-items: center;
    padding-top: 214px;
}

.features {
    background-image: url(img/bg-image-3.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.features__box__text {
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: white;
    letter-spacing: 2px;
}

.features__box__note {
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-size: 80px;
    color: white;
    letter-spacing: 3px;
}

.features__wrapper__text {
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #FFB548;
    letter-spacing: 2px;
}

.features__wrapper__small {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: white;
    width: 362px;
}

.features__wrapper__pencil {
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #FFB548;
    letter-spacing: 2px;
}

.features__wrapper__pen {
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #FFB548;
    letter-spacing: 2px;
}

.features__wrapper {
    padding-top: 70px;
}

.features__wrapper__small {
    padding-top: 6px;
}

.features__wrapper__pencil {
    padding-top: 28px;
}

.features__wrapper__pen {
    padding-top: 37px;
}

.features__big {
    padding-bottom: 258px;
    padding-top: 168px;
    padding-left: 676px;
}

.system {
    background-image: url(img/requirements.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.system__box {
    padding-top: 145px;
    text-align: center;
}

.system__box__text {
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.system__box__note {
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-size: 80px;
    text-transform: uppercase;
    letter-spacing: 3px;

}

.system__big {
    padding-top: 133px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 128px;
    max-width: 630px;
    width: 100%;
}

.box {
    grid-column-start: 1;
    grid-column-end: 3;

}

.system__big__box {
    border: 1px solid #979797;
    padding: 14px 19px;
}

.system__big__box1 {
    border: 1px solid #979797;
    padding: 14px 19px;
}

.big__box__text {
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFB548;
    padding-left: 19px;
    padding-top: 15px;
}

.big__box__note1 {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: white;
    max-width: 257px;
    padding-top: 7px;
    padding-left: 19px;
    padding-bottom: 25px;
}

.big__box__note2 {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: white;
    max-width: 260px;
    padding-top: 7px;
    padding-left: 19px;
    padding-bottom: 25px;
}

.big__box__note3 {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: white;
    max-width: 257px;
    padding-top: 7px;
    padding-left: 19px;
    padding-bottom: 45px;
}

.big__box__note4 {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: white;
    max-width: 257px;
    padding-top: 7px;
    padding-left: 19px;
    padding-bottom: 45px;
}

.big__box__note5 {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: white;
    max-width: 514px;
    padding-top: 7px;
    padding-left: 19px;
    padding-bottom: 25px;
}

.press {
    background-color: black;
}

.press__box {
    display: flex;

}

.press__box__wrapper {
    padding-top: 303px;
}

.press__wrapper__title {
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.press__wrapper__text {
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-size: 80px;
    color: white;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding-top: 9px;

}

.press__wrapper__mini {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: white;
    max-width: 434px;
    padding-top: 55px;
}

.press__wrapper__button {
    border-radius: 4px;
    background-color: #FFB548;
    padding: 18px 38px 20px 31px;
    border: 1px solid #FFB548;
    color: #1A1917;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-transform: lowercase;
    margin-top: 55px;
}

.press__big__box {
    background-color: #FFFFFF14;
    border-radius: 10px;
    margin-left: 146px;
    max-width: 530px;
    width: 100%;
}

.press__big__round {
    position: relative;
    width: 65px;
    height: 65px;
    border-radius: 100%;
    background-color: #FFB548;
    margin-top: 16px;
    margin-left: 22px;
}

.press__big__icon {
    position: absolute;
    left: -9px;
    top: -5px;
    width: 67px;
    height: 67px;
    border-radius: 100%;
}

.press__big__text {
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 2px;
    color: #FFB548;
}

.press__big__note {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: white;
    opacity: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.press__big__male {
    padding-top: 26px;
    padding-left: 22px;
}

.press__big__small {
    display: flex;
}

.press__big__pen {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: white;
    padding-top: 23px;
    padding-left: 17px;
    max-width: 390px;
}

.press__big__pencil {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: white;
    opacity: 50%;
    padding-top: 8px;
    padding-left: 17px;
    padding-bottom: 21px;
}

.press__big__twitter {
    margin-top: 20px;
    margin-left: 220px;
    margin-right: 20px;
}

.press__big__twitter1 {
    margin-top: 20px;
    margin-left: 220px;
    margin-right: 20px;
}

.press__big__twitter2 {
    margin-top: 20px;
    margin-left: 220px;
    margin-right: 20px;
}

.press__big {
    padding-top: 160px;
}

.press__big__box1 {
    background-color: #FFFFFF14;
    border-radius: 10px;
    margin-top: 29px;
    max-width: 530px;
}

.press__big__box2 {
    background-color: #FFFFFF14;
    border-radius: 10px;
    margin-left: 105px;
    margin-top: 29px;
    margin-bottom: 147px;
    max-width: 530px;
    width: 100%;
}

.press__box {
    gap: 166px;
}

.newsletter {
    background-color: #080A0B;
}

.newsletter__box {
    display: flex;
    justify-content: space-between;
    padding-top: 53px;
    padding-left: 45px;
}

.newsletter__wrapper {
    padding-top: 167px;
}

.newsletter__wrapper__text {
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 2px;
    color: white;
}

.newsletter__wrapper__note {
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-size: 80px;
    color: white;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding-top: 4px;
}

.newsletter__wrapper__notebook {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: white;
    padding-top: 40px;
    width: 644px;
}

.newsletter__input {
    background-color: #FFFFFF14;
    padding: 15px 180px 15px 22px;
    margin-top: 60px;
    border-radius: 5px;
}

.newsletter__button {
    background-color: #FFB548;
    color: black;
    border-radius: 4px;
    padding: 16px 69px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-left: 5px;
}

.footer {
    background-color: #080A0B;
}

.footer__box {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}

.footer__box__img {
    width: 90px;
    height: 90px;
}

.footer__box__normal {
    padding-top: 60px;
}

.footer__box__list {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    display: flex;
    gap: 38px;
}

.footer__wrapper {
    display: flex;
    gap: 55px;
    padding-top: 60px;
}

.footer__icon {
    width: 9px;
    height: 19px;
}

.footer__icon2 {
    width: 21px;
    height: 16px;
}

.footer__icon3 {
    width: 25px;
    height: 18px;
}

.footer__icon4 {
    width: 19px;
    height: 18px;
}

.footer__line {
    margin-top: 31px;
    max-width: 100%;
    border: 1px solid white;
    background-color: white;
    opacity: 50%;
}

.footer__big {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 45px;
}

.footer__big__text {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: white;
    opacity: 50%;
}

.footer__big__note {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
}

.header__hamburger__menu {
    display: none;
    width: 23px;
    height: 17px;
}

.section__social__line {
    max-width: 100%;
    background-color: white;
    height: 2px;
    display: none;
}

@media only screen and (max-width: 1240px) {
    .header__hamburger__menu {
        display: block;
    }

    .header__img {
        display: none;
    }

    .section__social__big {
        flex-direction: column;

    }

    .section__social__wrapper {
        padding-top: 19px;
    }

    .features__big {
        padding-left: 88px;
    }

    .press__box {
        flex-direction: column;
    }
    .newsletter__img{
        display: none;
    }
    .footer__box{
        flex-direction: column;
    }
}

@media only screen and (max-width: 800px) {
    .nav__list {
        display: none;
    }

    .survive__box__title {
        font-size: 33px;
    }

    .survive__box__text {
        font-size: 18px;
    }

    .social__wrapper__text {
        font-size: 18px;
    }

    .social__wrapper__note {
        font-size: 33px;
        max-width: 270px;
    }

    .section__social__span {
        text-decoration: none;
    }

    .section__social__box {
        padding: 36px 0 0 21px;
        font-size: 14px;
        max-width: 360px;
    }

    .social__box__text {


    }

    .section__social__photo {
        max-width: 225px;
        height: 273px;
        width: 100%;
    }

    .section__social__icon {
        width: 44px;
        height: 23px;
    }

    .section__social__real {
        display: flex;
        gap: 8px;
        padding: 51px 16px 32px 49px;
    }

    .features__big {
        padding-bottom: 85px;
        padding-top: 82px;
    }

    .features__box__text {
        font-size: 18px;
    }

    .features__box__note {
        font-size: 33px;
    }

    .features__wrapper {
        padding-top: 20px;
    }

    .features__wrapper__text {
        font-size: 21px;
    }

    .features__wrapper__small {
        font-size: 14px;
        max-width: 174px;
    }

    .features__wrapper__pencil {
        font-size: 21px;
    }

    .features__wrapper__pen {
        font-size: 21px;
    }

    .system__box__text {
        font-size: 18px;
    }

    .system__box__note {
        font-size: 33px;
    }

    .system__big {
        padding-top: 71px;
        padding-bottom: 234px;
    }

    .big__box__text {
        font-size: 18px;
    }

    .big__box__note1 {
        font-size: 14px;
        padding-top: 7px;
        padding-left: 9px;
        padding-bottom: 15px;
        max-width: 123px;
    }

    .big__box__note2 {
        font-size: 14px;
        padding-top: 7px;
        padding-left: 9px;
        padding-bottom: 25px;
        max-width: 120px;
    }

    .big__box__note3 {
        font-size: 14px;
        padding-top: 7px;
        padding-left: 9px;
        padding-bottom: 45px;
    }

    .big__box__note4 {
        font-size: 14px;
        padding-top: 7px;
        padding-left: 9px;
        padding-bottom: 45px;
        max-width: 128px;
    }

    .big__box__note5 {
        font-size: 14px;
        padding-top: 7px;
        padding-left: 9px;
        padding-bottom: 25px;
        max-width: 253px;
    }

    .system__big__box {
        padding: 14px 19px;
    }

    .system__big__box1 {
        padding: 9px 9px;
    }

    .system__big {
        max-width: 290px;
        margin: 0 auto;

    }

    .press__box__wrapper {
        padding-top: 37px;
    }

    .press__wrapper__title {
        font-size: 18px;
    }

    .press__wrapper__text {
        font-size: 33px;
    }

    .press__wrapper__mini {
        font-size: 14px;
        max-width: 290px;
        padding-top: 55px;
    }

    .press__wrapper__button {
        display: flex;
        flex-direction: column;
        margin: 39px auto 0 auto;
    }

    .press__big {
        padding-top: 0;
    }

    .press__big__box {
        margin-left: 0;
        max-width: 330px;
        padding-top: 0;

    }

    .press__big__box1 {
        margin-left: 0;
        max-width: 330px;
    }

    .press__big__box2 {
        margin-left: 0;
        max-width: 330px;
    }

    .press__big__round {
        width: 40px;
        height: 40px;
    }

    .press__big__icon {
        left: -4px;
        top: -3px;
        width: 40px;
        height: 40px;
    }

    .press__big__text {
        font-size: 21px;
        padding-left: 17px;
    }

    .press__big__note {
        font-size: 14px;
    }

    .press__big__male {
        padding-top: 7px;
        padding-left: 15px;
        gap: 14px;
    }

    .press__big__small {
        display: flex;
    }

    .press__big__pen {
        padding-top: 14px;
        padding-left: 16px;
        max-width: 240px;
        font-size: 14px;
    }

    .press__big__pencil {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        color: white;
        opacity: 50%;
        padding-top: 8px;
        padding-left: 17px;
        padding-bottom: 21px;
    }

    .press__big__twitter {
        margin-left: 100px;

    }

    .press__big__twitter1 {
        margin-left: 80px;
    }

    .press__big__twitter2 {
        margin-left: 50px;
    }

    .press__box {
        gap: 30px;
    }
    .newsletter__box{
        padding-top: 0;
        padding-left: 0;
    }
    .newsletter__wrapper{
        padding-top: 0;

    }
    .newsletter__wrapper__text{
        padding-top: 0;
        font-size: 18px;
    }
    .newsletter__wrapper__note{
        font-size:  33px;
        max-width: 290px;
    }
    .newsletter__wrapper__notebook{
        font-size: 14px;
        max-width: 189px;
        padding-top: 15px;
    }
    .newsletter__button-box{
        padding-left: 0;
    }
    .newsletter__wrapper__box{
        padding-left: 110px;
    }
    .newsletter__input{
        margin-top: 40px;
        padding: 15px 147px 15px 17px;
    }
    .newsletter__button{
        padding: 15px 194px 15px 17px;
        margin-top: 20px;
        margin-left: 0;
    }

}

@media only screen and (max-width: 400px) {
    .section__social__line {
        display: block;
        margin-top: 35px;
    }
}